@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 10px;
    background-color: #c2c2c2;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #1890ff;
    border-radius: 9em;
}
